[Unit]
Description=X11 VNC Daemon

[Service]
WorkingDirectory=your_path
ExecStart=/usr/bin/node index.js
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
