[Unit]
Description=OneLab File Server

[Service]
ExecStart=/usr/bin/node /opt/onelab-control-service/index.js 
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
