/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@400;700;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", "Khmer OS Battambang", sans-serif !important;
}

* {
	@apply box-border;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
	height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cbd5e0;
	border-radius: 100vh;
	/* border: 3px solid #edf2f7; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a0aec0;
}


#sign_in, #sign_up {
    @apply w-screen h-screen grid grid-cols-1 place-items-center bg-gray-400;

    form {
        @apply w-[320px] flex flex-col gap-4 p-8 bg-white rounded-xl;
    }

    h1 {
        @apply font-bold text-3xl;
    }

    input {
        @apply w-full border-2 border-blue-600 p-2 rounded-lg;
    }

    input[type="submit"] {
        @apply bg-blue-600 text-white;
    }

    button {
        @apply m-0 py-2 px-4  bg-blue-600 text-white rounded-lg;
    }
}

/* button {
    @apply py-2 px-4 mr-2 bg-blue-700 text-white rounded-md;
} */

#home {
    @apply w-full min-h-screen grid grid-cols-1 items-stretch;
}

#monitor {
    @apply w-full min-h-screen p-4 grid content-start gap-4
        lg:grid-cols-4
        md:grid-cols-3
        sm:grid-cols-2
        xs:grid-cols-1
        grid-cols-1;

    & > div {
        @apply  bg-indigo-300 rounded-lg;
    }

    .screen {
        @apply aspect-video
    }
}

#ribbon {
    @apply col-span-full h-32 flex p-4 gap-4 bg-blue-400 sticky top-0;

    & > div {
        @apply aspect-square rounded-lg bg-white
    }
}


#nav {
    @apply w-full h-screen sticky top-0 left-0 bg-blue-500 grid grid-cols-1 gap-3 content-start p-3
}
